body {
    font-family: Arial, sans-serif;
  }
  
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f8f8;
  }
  
  .form-container {
    display: flex;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
  }
  
  .sign-in,
  .sign-up {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  h2 {
    font-size: 24px;
    color: #c5a32d;
    margin-bottom: 20px;
  }
  
  input {
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .submit-button {
    background-color: #c5a32d;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
  }
  
  .social-login {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .google-logo {
    width: 40px;
    cursor: pointer;
  }
  
  .divider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
  }
  
  .line {
    width: 1px;
    height: 80px;
    background-color: #c5a32d;
  }
  
  .logo {
    font-size: 24px;
    color: #c5a32d;
    margin: 20px 0;
  }
  